.frame{
    width: 400px;
    height: 400px;
    margin: 100px auto;
    background: rgb(0, 110, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button{
    width: 170px;
    height: 60px;
    background:#fff;
    margin: 20px;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.5s;
}
.button:hover{
    box-shadow: 4px 6px 15px rgb(29, 29, 99) ,-0px -0px 5px rgb(29, 29, 99) ;
    transform: scale(1.05) translate3d(0, 0, 0);
}